.toast {
	position:fixed;
	top:70%;
	left:50%;
	background:rgba(0,0,0,0.6);
	color:white;
	padding:10px;
	border-radius:5px;
	transition:opacity .5s;
	-moz-transition:opacity .5s;
	-webkit-transition:opacity .5s;
	opacity:0;
}