{% extends "base.html" %}
{% load bootstrap_toolkit %}
<div class="container">
{% block content %}

{% for post in object_list %}

<div class="container ">
    <div>
        <div class="page-header">
          <h4><a href="/blog/{{post.id}}">{{ post.title }}</h4></a>
        </div>
          <p>{{ post.body|safe|linebreaks }}</p>
          <p><a class="btn btn-default"  role="button">  on {{ post.created }}</a></p> 
    </div>
</div>

                     
        
        {% if not forloop.last %}, {% endif %}
                   
             
            </div
        
    </div>
</div>
{% endfor %}
               
            
 
            

{% endblock %}
</div>


