{% extends "base.html" %}
{% block content %}
<div class="container ">
<div class="left">
<div>
<div class="page-header">
<h3>satyam yadav</h3>
<p>coder</p>
</div>
</div>
</div>

  <div class="container">
    <p>I am pursuing bachelor's degree in Computer science from <a href="http://facebook.com/scriet">SCRIET</a> Chaudhary Charan Singh University, Meerut.<br>My college is about 70km north to our national capital New Delhi.<br>I am from ballia known as<a href="http://en.wikipedia.org/wiki/Ballia"> "Baagi Ballia" </a>due to the contribution in Freedom fights. 
    </p>
    <!----    <a href="#" class="see-more"><span>See more</span></a>      ---------->
    <p>I love my <a href="https://www.facebook.com/satyam.py/friends">friends</a> the most. I like to have 'masti' with them anytime, anywhere.</p>
    <!----    <a href="#" class="see-more"><span>See more</span></a>      ---------->
    <p>I like the <b>open source</b> concept of software development.I like playing with other's codes whenever i feel bored.
    <!----    <a href="#" class="see-more"><span>See more</span></a>      ---------->
    
  </div>

<div class="container">
<div class="page-header"><h4>contact</h4>
</div>

<a class="btn" href="http://www.facebook.com/satyam.py" target="MyNewWindow">Facebok</a>
<a class="btn" href="http://twitter.com/Satyam_yadav" target="MyNewWindow"><span>twitter</span></a>
<a class="btn" href="http://github.com/satyamyadav" target="MyNewWindow"><span>github</span></a>
<a class="btn" href="tel:+917376867678">WhatsApp</a>
<a class="btn" href="mailto:satyam.py@facebook.com" target="MyNewWindow"><span>message</span></a>
<a class="btn" href="mailto:satyamyadav3@gmail.com" target="MyNewWindow"><span>mail</span></a></li>
    
</div>
<div class="container">
<div class="page-header">
<h4>about site</h4>
</div>
    <p><b>front-end :</b> html5, css3</p>
    <p><b>theme :</b> <a href="https://github.com/dyve/django-bootstrap-toolkit" target="_blank">bootstrap_toolkit for django</a></p>
    <p><b>back-end :</b> python on django</p>
    <span><a href="https://python.org/">python</a> : language <br> <a href="https://djangoproject.com">django</a> :framework</span>
    <p><b>database :</b> <a href="http://www.sqlite.org/">sqlite3</a></p>
    <p><b>server :</b>Red hat cloud service '<a href="http://openshift.com/">openshift</a>' a 'paas' for deploying apps</p>
</div>


</div><!----/container---->
{% endblock %}

