{% load bootstrap_toolkit %}

{% block content %}

<center>


          
          <form name="form" action="/reg/" method="post" onSubmit="return valid();">
<table width="400" border="1" align="center" cellpadding="4" cellspacing="0" bordercolor="#CCCC99" bgcolor="#FFFFFF">
  <tr>
    <td colspan="2" align="center" bgcolor="#ECE9D8"><strong>Register for convergence'14</strong></td>
  </tr>
  <tr>
    <td>Select Branch</td>
    <td><select name="branch" id="branch">
      <option value="AG">AG</option>
      <option value="ME">ME</option>
      <option value="CS">CS</option>
      <option value="IT">IT</option>
      <option value="EC">EC</option>
      <option value="EI">EI</option>
      <option value="CH">CH</option>
      
    </select>    </td>
  </tr>
  <tr>
    <td>Select Sem</td>
    <td><select name="sem" id="sem">
    <option value="2">2</option>    
    <option value="4">4</option>
    <option value="6">6</option>
      <option value="8">8</option>
     
            </select></td>
  </tr>
  <tr>
    <td width="157">Name</td>
    <td width="221"><input type="text" name="name" id="part_name"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><label>
      <input type="submit" name="button" id="button" value="Submit">
    </label></td>
  </tr>
</table>
<p>&nbsp;</p>
<div align="center"></div>
</form>

<div align="center">
  <script language="javascript">
function valid()
{
if(document.frm.rollno.value=="")
{
alert("Please enter Roll No");
return false;
}

}



</script>
</div>
 
            
</center>
{% endblock %}
