{% extends "base.html" %}
{% block content %}
<div class="container ">

<div class="page-header" >
<h4>Projects</h4>
</div>

 <div>
<h4>SCRIET Android App</h4>
<p>A jqueryMobile App for easy access to college's information and easier to use services like Result, Registration, Hostel, Scholarship, Syllabus etc. <br> We don't need to remember all links for different purposes now ! <br>
App is deployed for Android devices via cordova and will be available for I-phone & Ubuntu. Web version can be accessed on all
the platorms. </p>
<strong>Download App for Android</strong><br />
<a class="btn" target="MyNewWindow" href="https://www.dropbox.com/s/uk73mb037bs85md/com.satyamyadav.scriet-1-v0.0.2.apk" download="app">Download Link 1</a><br>
<a class="btn" target="MyNewWindow" href="https://satyamyadav.netne.net/scrietapp/com.satyamyadav.scriet-1-v0.0.2.apk" download="app">Download Link 2</a><br>
<a class="btn" target="MyNewWindow" href="/projects/scrietapp/">Show live app online</a>
 </div>



 <div style="border-top:1px solid gray; margin-top:50px">
  <h4>CONVERGENCE</h4>
  <p>A college fest's website, is a open source project based over 'impress.js'. You can fork it's source code at <a href="http://github.com/satyamyadav/convergence" target="MyNewWindow">github.com/satyamyadav/convergence</a>.<br>
    
    A special thanks to! <br> <a href="http://facebook.com/vgvishalgupta5" target="MyNewWindow"> Vishal Gupta</a> for help and support.<br>
    <a href="http://rahulgaur.info" target="MyNewWindow">Rahul Gaur</a> for 'fest.js'<br>
    bartaz for <a href="http://github.com/bartaz/impress.js/blob/master/index.html" target="MyNewWindow">impress.js</a><br>
 <a class="btn" target="MyNewWindow" href="http://satyamyadav.netne.net/convergence/">See it in action <small>use chrome </small></a> 
 </div>




</div><!----/container---->
{% endblock %}

